<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="SightPlanPOM"  parallel="classes">
  <test thread-count="4"  name="SightPlan WEB Client Test">
   <parameter name="browser" value="chrome"/>
    <classes>
  	
  	<class name="com.sightplan.testCases.Messages_TestCases"/>
  	
    </classes>
  </test>
  </suite>
  
  